.vrijpaleis {
  h1 {
    font-size: 32px;
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 12px;
  }

  .toSee {
    img {
      border-radius: 6px;
    }

    h4 {
      font-size: 16px;
      text-align: center;
      margin-bottom: 32px;
    }
  }

  .day {
    width: 124px;
    height: 124px;
    background: var(--secondary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
