@import './../../../pages/css/_variables.scss';

.header {
  background-color: $secondary;
  padding-bottom: 12px;

  svg {
    margin-top: 24px;
    width: 38px;
    transform: scale(1.5);
    transform-origin: left center;
  }

  a {
    margin-top: 20px;
    display: inline-block;
    font-weight: 300;
  }

  p {
    margin-top: 20px;
    font-weight: 300;
  }

  &[data-is-popup] {
    padding-top: 32px;
    > * > * {
      display: inline;
    }

    svg {
      margin-right: 16px;
    }

    h1 {
      font-size: 21px;
    }
  }

  nav {
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    background: var(--primary);
    z-index: 1;
    color: white;
    // animation: menu 0.6s;

    ul {
      margin-top: 64px;
      font-size: 21px;

      li + li {
        margin-top: 32px;
      }
    }

    @keyframes menu {
      from {
        transform: scale(0.8);
      }
      to {
        transform: scale(1);
      }
    }
  }
}

.hamburger {
  max-width: 20px;
  width: 100%;
  margin-bottom: 2rem;
}

.menuContainer {
  width: 100%;
}
