.slider {
  display: flex;
  overflow-x: scroll;
  min-width: 100%;
  margin-top: 12px;
  padding-bottom: 16px;
  padding-left: 16px;
  margin-left: calc(-100vw / 2 + 343px / 2);
  margin-right: calc(-100vw / 2 + 343px / 2);

  .slide {
    margin-right: 16px;

    img {
      border-radius: 4px;
      min-width: 206px;
      max-height: 135px;
      object-fit: cover;
    }

    p {
      text-align: center;
      font-size: 16px;
    }
  }
}
